<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-zinc-900 w-full h-full p-10 text-white">
        <div class="mb-10">
            <a href="/" class="border-b-2 hover:text-blue-500 text-lg">Home</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">All User</h1>
        <div class="users flex flex-wrap gap-3">
            <% if(users.length > 0){ %>
                <% users.forEach(function(value){ %>
                    <div class="user min-w-64 p-5 bg-zinc-800 rounded-lg">
                        <div class="w-full h-52 bg-zinc-700 rounded-lg">
                            <img src="<%= value.image%>" class="w-full h-full overflow-hidden" alt="<%= value.name%>">
                        </div>
                        <h3 class="text-xl tracking-tighter mt-3"><%=value.name%></h3>
                        <h5 class="text-zinc-500"><%=value.email%></h5>
                        <div class="flex gap-3 mt-10">
                            <a class="text-zinc-500" href="/edit/<%= value._id%>">Edit user</a>
                            <a class="text-red-500" href="/delete/<%= value._id%>">Delete user</a>
                        </div>
                    </div>
                <% }) %>
            <% } else{ %>
                <h1 class="text-zinc-500">no users yet</h1>
            <% } %>
        </div>
    </div>
</body>
</html>